<div class="container">
  <h1 class="text-center mb-3">WRO csapat regisztráció</h1>
  <table class="table table-hover table-bordered">
    <tbody>
      <tr class="text-center">
          <th>
              <span data-bs-toggle="modal" data-bs-target="#exampleModal">&#10010;</span>
          </th>
          <th>Csapatnév</th>
          <th>Kategória</th>
          <th>Csapattagok száma</th>
          <th>Csapatvezető neve</th>
          <th>Csap. vez. e-mail</th>
          <th>Csap. vez. szüldátum</th>
      </tr>
      @for (reg of registrations; track $index) {
          <tr>
              <td>
                  <span (click)="updateReg(reg)">&#9998;</span>
                  <span (click)="deleteReg(reg)">&#10008;</span>
                </td>
                <td>{{reg.teamName}}</td>
                <td>{{reg.category}}</td>
                <td>{{reg.memberCount}}</td>
                <td>{{reg.teamLeader}}</td>
                <td>{{reg.teamLeaderEmail}}</td>
                <td>{{reg.teamLeaderBirthDate}}</td>
            </tr>  
        }
    </tbody>
    </table>
</div>
<app-team [teamData]="newTeam == undefined ? update : newTeam" (saved)="save($event)" (cancelled)="newTeam = undefined; update = undefined;"></app-team>
